/*Base Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


p,
h1,
h2,
label,
span {
    font-family: 'Merriweather', serif;
}

p {
    color: #a8adb2;
}

h1 {
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    color: #2d3945;
    font-size: 19px;
    font-weight: 900;
}

.form-header h2 {
    margin-bottom: 10px;
}

legend {
    padding: 10px 0 25px;
}

header {
    background-color: #2d3945;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: none;
}

footer {
    margin-top: 25px;
    margin-bottom: 200px;
}

footer span {
    font-size: 14px;
    font-style: italic;
    color: #a8adb2;
}

label {
    display: block;
    color: #617383;
    font-size: 14px;
    font-weight: 300;
}

.newsletter label {
    margin-bottom: 20px;
}

.r-c {
    display: inline;
    padding-left: 14px;
}

.options {
    margin-bottom: 15px;
}

fieldset {
    border: none;
    padding-left: 12px;
    padding-right: 12px;
}

header,
.form-header,
footer {
    text-align: center;
}

input:not([type="checkbox"]):not([type="radio"]):not([id="zip"]),
textarea,
#state {
    width: 100%;
}

#zip {
    width: 50%;
}

textarea {
    height: 110px;
    border: none;
    background-color: #eff0f1;
    color: #a8adb2;
    border-radius: 5px;
    margin: 0 0 20px;
}

.button {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.button-div {
    padding: 0 14px;
}

.form-header {
    padding: 25px 12px 20px;
}

.form-header p {
    font-size: 14px;
    font-weight: 300;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
    border: none;
    background-color: #eff0f1;
    color: #a8adb2;
    border-radius: 5px;
    height: 50px;
    margin: 20px 0;
}

button {
    color: white;
    background-color: #4ebbb5;
    font-size: 18px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

label[for="other"] {
    margin-top: 30px;
}


.single-border {
    margin: 15px 12px;
    border-top: 2px solid #2d3945;
}

.double-border {
    margin: 15px 12px;
    border-top: 4px solid #2d3945;
    border-bottom: 2px solid #2d3945;
    height: 9px;
}

::placeholder {
    text-align: right;
    padding-right: 20px;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: #a8adb2;
    font-size: 12px;
    font-weight: 300;
}


/*Media Queries*/

@media (min-width: 768px) {
    
    main {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .form-header {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    
    .form-header h2 {
        font-size: 24px;
    }
    
    .single-border {
    margin: 30px 12px;
    }
    
    footer {
        margin-top: 35px;
    }
    
    .button {
        width: 576px;
    }
    
    label {
    font-weight: 600;
}
    
    
    
}